@font-face {
	font-family: 'NanumSquareL';
	font-display: fallback;
	src: url('./fonts/NanumSquareL.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquareR';
	font-display: fallback;
	src: url('./fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquareB';
	font-display: fallback;
	src: url('./fonts/NanumSquareB.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquareEB';
	font-display: fallback;
	src: url('./fonts/NanumSquareEB.ttf') format('truetype');
}

@font-face {
	font-family: 'Pacifico';
	font-display: fallback;
	src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'BMJua';
	font-display: fallback;
	src: url('./fonts/BMJUA.otf') format('opentype');
}
